@model BidCraft.web.Models.PostIndexVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PostDetailsVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.AreMaterialsIncluded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreMaterialsIncluded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMyPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMyPost)
        </dd>

    </dl>

    <ul>
        @foreach (var bid in Model.Bids)
        {
            <li>@bid.Amount</li>
        }
    </ul>

    @if (!Model.IsMyPost)
    {
        @*@Html.ActionLink("Bid Now!", "create", "bids", new { postid = Model.Id }, new { @class = "btn btn-primary" })*@
    }
    </div>
    <p>

        @Html.ActionLink("Back to List", "Index")
    </p>
