@model IEnumerable<BidCraft.web.Models.BidIndexVM>

@{
    ViewBag.Title = "Index";
}

<h2></h2>


@*@Html.ActionLink("Bid", "Create", "Bids", new { postid = ViewBag.PostId }, null)*@
@*@Html.ActionLink("Bid Now!", "create", "bids", new { postid = ViewBag.PostId }, new { @class = "btn btn-primary" })*@

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectFinishByFinishDate)
        </th>
    </tr>
    
    @Html.ActionLink("Bid Now!", "create", "bids", new { postid = ViewBag.PostId }, new { @class = "btn btn-primary" })




@foreach (var item in Model)
{
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectFinishByFinishDate)
        </td>
        <td>
    @if (!item.IsMine)
    {

        @Html.ActionLink("Edit", "Edit", new { id = item.BidId }, new { @class = "btn btn-primary" })
        @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-primary" })
    }
    else
    {
        @Html.ActionLink("Edit", "Edit", new { id = item.BidId }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Delete", "Delete", new { id = item.BidId }, new { @class = "btn btn-primary" })


    }
    </td>
  
    </tr>

    if (!item.IsMine)
    {
    @Html.ActionLink("Bid Now!", "create", "bids", new { postid = ViewBag.PostId }, new { @class = "btn btn-primary" })

    }
}
</table>
   




