@model IEnumerable<BidCraft.web.Models.BidIndexVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Bid", "Create", "Bids", new { postid = ViewBag.PostId }, null)


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectFinishByFinishDate)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td></td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectFinishByFinishDate)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.BidId  }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
